<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- cfgs java.util.Date Class as spring beans -->
<bean id="dt" class="java.util.Date"/>

<!-- cfgs welcome greeting class as spring -->
<bean id="wmg" class="com.nt.beans.WelcomeGreeting"/>
</beans>
